*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Poppins,sans-serif;

    background:#111827;

    color:white;

}

.hero{

    height:100vh;

    background:url("../assets/hero.jpg") center center;

    background-size:cover;

    position:relative;

}

.overlay{

    position:absolute;

    width:100%;

    height:100%;

    background:rgba(0,0,0,.55);

    display:flex;

    justify-content:center;

    align-items:center;

}

.subtitle{

    letter-spacing:4px;

    text-transform:uppercase;

    color:#D4AF37;

}

#coupleName{

    font-size:64px;

    font-weight:700;

    margin-top:20px;

}

.date{

    margin-top:10px;

    opacity:.8;

}

.description{

    margin-top:30px;

    max-width:600px;

    margin-left:auto;

    margin-right:auto;

}

.download-section{

    padding:60px 0;

}

.btn{

    padding:18px;

    font-size:18px;

}

.btn-gold{

    background:#D4AF37;

    color:#111827;

    font-weight:bold;

}

.btn-gold:hover{

    background:#c99b12;

}

.gallery-section{

    padding:70px 0;

}

.gallery-section h2{

    text-align:center;

    margin-bottom:40px;

}

.gallery-item img{

    width:100%;

    border-radius:12px;

}

footer{

    text-align:center;

    padding:40px;

    opacity:.7;

}

/* ============================= */
/* Gallery */
/* ============================= */

.gallery-card{

    overflow:hidden;

    border-radius:16px;

    background:#1b2431;

    transition:.3s;

    cursor:pointer;

}

.gallery-card:hover{

    transform:translateY(-6px);

}

.gallery-image{

    width:100%;

    aspect-ratio:3/4;

    object-fit:cover;

    display:block;

    transition:.35s;

}

.gallery-card:hover img{

    transform:scale(1.05);

}
